<div class="row">
    <div class="col-sm-3" *ngFor="#produto of produtos">
        <img src="http://localhost:8000/asset/img/{{ produto.id_produto }}/1" alt="">
        <h3>{{ produto.nome }}</h3>
        <div>
            <img alt="" *ngSrc="">
        </div>

        <p>{{ produto.descricao }}</p>

        <p>R$ {{ produto.valor_unitario }}</p>
        <p>
            <a class="btn btn-info" [routerLink]="['Detalhes', {id_produto: produto.id_produto}]"><i class="fa fa-search-plus"></i> Datalhes</a>
            <a class="btn btn-success" (click)="addCarrinho(produto)"><i class="fa fa-dollar"></i> Comprar</a>
        </p>
    </div>
</div>
