<div class="row" *ngIf="(produtos && produtos.length > 0)">
    <div  class="col-sm-3" *ngFor="let produto of produtos">
        <img class="img-list" src="{{ produto.img }}" alt="">
        <h3 title="{{ produto.nome }}"><a [routerLink]="['Detalhes', {id_produto: produto.id_produto}]">{{ produto.nome  | truncate: 10  }} <i class="fa" [class.fa-thumbs-o-up]="produto.recomendado"></i></a></h3>

        <p>{{ produto.descricao | truncate: 20 }}</p>

        <p>R$ {{ produto.valor_unitario | valor:'R$' }}</p>
        <p>
            <a class="btn btn-info" [routerLink]="['Detalhes', {id_produto: produto.id_produto}]"><i class="fa fa-search-plus"></i> Datalhes</a>
            <button [disabled]="user && user.id_usuario" class="btn btn-success" (click)="addCarrinho(produto)"><i class="fa fa-dollar"></i> Comprar</button>
        </p>
    </div>
</div>

<div *ngIf="(!produtos || produtos.length == 0)" >
    <span class="font-red">Nenhum produto encontrado</span>
</div>