<div class="container">
    <div class="col-sm-7">
        <h4>Produtos no carrinho</h4>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let produto of produtos">
                <td><a (click)="remove(produto)"><i class="fa fa-close font-red"></i></a> {{ produto.nome }}</td>
                <td>
                    <select class="form-control"  (change)="onChange($event,produto)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
                <td>
                    R$ {{ produto.valor_unitario | valor }}
                </td>
                <td>
                    R$ {{ (produto.valor_unitario * produto.quantidade).toFixed(2) | valor }}

                <td>
            </tr>
            <tr *ngIf="produtos.length == 0">
                <td colspan="4" class="font-red">Nenhum item adicionado</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>
                    R$ {{ total().toFixed(2) | valor }}
                </td>
                <td>
                    R$ {{ total(true).toFixed(2) | valor }}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-5" *ngIf="produtos.length > 0">
        <h4>Forma de Pagamento</h4>
        <div>
            <ul>
                <li>À vista <small><b>total R$ {{ (total(true) * 0.95).toFixed(2) | valor }}</b></small> <p class="font-red">DESCONTO DE R$ {{ (total(true) * 0.05).toFixed(2) | valor }}</p></li>
                <li *ngFor="let x of parcelas">{{x}}x de R$ {{ ((x>9)?(total(true) / x) * 1.04 :total(true) / x).toFixed(2) | valor }} <small>total: R$ {{ ((x>9)?(total(true)) * 1.04 :total(true)).toFixed(2) | valor }}</small></li>
            </ul>
        </div>
    </div>

    <!--form #f="ngForm" (submit)="finalizar(f.value)" *ngIf="produtos.length > 0">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <h4>Forma de pagamento</h4>
                <label class="col-sm-3">Carão
                    <select required ngControl="cartao" #t (change)="selectCartao(t.value)" name="cartao" class="form-control">
                        <option *ngFor="let x of bandeiras" [value]="x.nome">{{ x.nome }}</option>
                    </select>

                </label>
                <label class="col-sm-3">Parcelas
                    <select required ngControl="percelas" class="form-control">
                        <option *ngFor="let x of parcelas" [value]="x">{{ x }}x</option>
                    </select>
                </label>
            </div>
            <br/>
            <div class="col-sm-12">
                <h4>Endereço para ENTREGA</h4>
                <label class="col-sm-3">Endereço
                    <input required ngControl="endereco" class="form-control" type="text">
                </label>
                <label class="col-sm-3">Numero
                    <input required ngControl="numero" class="form-control" type="text">
                </label>
                <label class="col-sm-3">Bairro
                    <input required ngControl="bairro" class="form-control" type="text">
                </label>
                <label class="col-sm-3">CEP
                    <input required ngControl="cep" class="form-control" type="text">
                </label>
                <label class="col-sm-3">Cidade
                    <input required ngControl="cidade" class="form-control" type="text">
                </label>
                <label class="col-sm-3">UF
                    <input required ngControl="uf" class="form-control" type="text">
                </label>
            </div>
        </div>
        <br/>
        <div class="col-sm-12">
            <h4>Finalizar pedido</h4>

            <div class="center">
                <button [disabled]="produtos.length == 0"  type="submit" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Confirmar
                </button>
            </div>
        </div>
    </form-->
    <div *ngIf="produtos.length > 0">
        <div class="col-sm-12">
            <h4>Cartão</h4>
        </div>
        <form (submit)="enviar(pagamento)">
            <label class="col-sm-3">Nome no cartão
                <input class="form-control" type="text" [(ngModel)]="pagamento.nome_cartao">
            </label>
            <label class="col-sm-3">Numero no cartão
                <input class="form-control" type="text" [(ngModel)]="pagamento.num_cartao" procurandoalgo-cartao minlength="14" maxlength="14">
            </label>
            <label class="col-sm-3">Código segurança
                <input class="form-control" type="text" [(ngModel)]="pagamento.cvc" minlength="3" maxlength="3">
            </label>
            <div class="col-sm-3">
                <label class="col-sm-6">Mês
                    <input class="form-control" type="text" [(ngModel)]="pagamento.mes_cartao" minlength="2" maxlength="2">
                </label>

                <label class="col-sm-6">Ano
                    <input class="form-control" type="text" [(ngModel)]="pagamento.ano_cartao" minlength="2" maxlength="2">
                </label>
            </div>
            <label class="col-sm-3">Parcelas
                <select class="form-control" [(ngModel)]="pagamento.parcelas">
                    <option *ngFor="let x of parcelas" value="{{x}}">{{x}}x</option>
                </select>
            </label>
            <div class="col-sm-12">
                <button class="btn btn-success">Comprar</button>
            </div>
        </form>
    </div>
</div>