<div class="container">
    <div class="col-sm-7">
        <h4>Produtos no carrinho</h4>

        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor Unitário</th>
                <th>Valor Total</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="#produto of produtos">
                <td><a (click)="remove(produto)"><i class="fa fa-close font-red"></i></a> {{ produto.nome }}</td>
                <td>
                    <select class="form-control"  (change)="onChange($event,produto)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
                <td>
                    R$ {{ produto.valor_unitario }}
                </td>
                <td>
                    R$ {{ (produto.valor_unitario * produto.quantidade).toFixed(2) }}

                <td>
            </tr>
            <tr *ngIf="produtos.length == 0">
                <td colspan="4" class="font-red">Nenhum item adicionado</td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="2"></td>
                <td>
                    R$ {{ total().toFixed(2) }}
                </td>
                <td>
                    R$ {{ total(true).toFixed(2) }}
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

    <div class="col-sm-5">
        <h4>Forma de Pagamento</h4>
        <div>
            <ul>
                <li>À vista <small><b>total R$ {{ (total(true) * 0.95).toFixed(2) }}</b></small> <p class="font-red">DESCONTO DE R$ {{ (total(true) * 0.05).toFixed(2) }}</p></li>
                <li *ngFor="#x of parcelas">{{x}}x de R$ {{ ((x>9)?(total(true) / x) * 1.04 :total(true) / x).toFixed(2) }} <small>total: R$ {{ ((x>9)?(total(true)) * 1.04 :total(true)).toFixed(2) }}</small></li>
            </ul>
        </div>
    </div>

    <div class="col-sm-12">
        selecione a forma de pagamento
    </div>

    <div class="col-sm-12">
        <h4>Finalizar pedido</h4>

        <div class="center">
            <button class="btn btn-success">
                <i class="fa fa-check"></i>
                Confirmar
            </button>
        </div>
    </div>
</div>