<div class="row">
	<div class="col-sm-6" *ngIf="produto">
		<div class="col-sm-4">
			<img src="{{ produto.link }}" alt="">
		</div>
		<div class="col-sm-8">
			<div>
				<h3>{{ produto.nome }}</h3>
				<p>{{ produto.descricao }}</p>
				<p>{{ produto.valor_unitario }}</p>
			</div>
		</div>
	</div>
	<div class="col-sm-6 border-left heigth100">
		<button (click)="addCarrinho(produto)" class="btn btn-success btn-custom center-block vertical">Comprar</button>
	</div>
</div>
<div class="row">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" [class.active]="tab == 'descricao'" (click)="menu('descricao')">Descricao</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [class.active]="tab == 'comentarios'" (click)="menu('comentarios')">Comentarios</a>
		</li>
	</ul>
	<div *ngIf="tab == 'descricao'">
		<p *ngIf="produto">{{ produto.descricao_completa }}</p>
	</div>
	<div *ngIf="tab == 'comentarios'">
		<form #f="ngForm" (submit)="comentar(f.value)">
			<label class="col-sm-12">Nome
				<input class="col-sm-12" type="text" name="nome" ngControl="nome">
			</label>
			<label class="col-sm-12">Comentario
				<textarea style="resize: none" class="col-sm-12" type="text" name="comentario" ngControl="comentario"></textarea>
			</label>
			<label class="col-sm-12">Nota
				<input type="number" min="1" max="5" name="rate" ngControl="rate" value="3">
			</label>
			<button type="submit" class="btn btn-success"><i class="fa fa-send"></i> Enviar</button>
		</form>
		<div class="card" *ngFor="#comentario of comentarios">
			<div class="card-block">
				<h4 class="card-title">
					<p>
						<span *ngFor="#i of comentario.rating"><i class="fa" [class.fa-star]="i.rate" [class.fa-star-o]="!i.rate"></i></span>
					</p>
					<p>{{ comentario.comentario }}</p>
				</h4>
				<p class="card-text">{{ comentario.nome }}</p>
			</div>
		</div>
		<span *ngIf="comentarios.length == 0">Seja o primeiro a comentar</span>
	</div>
</div>