<div class="jumbotron">
	<h2>Compra Efetuada</h2>

	<p>Obrigado pela preferencia</p>
	<br/>
	<h3>Endereço Para entrega</h3>
	<div *ngIf="dados">
		<p>Numero pedido <strong>{{ dados.json.num_pedido }}</strong></p>
		<p>Numero Autenticação <strong>{{ dados.json.num_autenticacao }}</strong></p>
		<p>Numero Autorização <strong>{{ dados.json.num_autorizacao }}</strong></p>
		<p>Valor <strong>{{ dados.json.valor | valor }}</strong></p>
		<p>Parcelas <strong>{{ dados.json.parcelas }}</strong></p>
	</div>
</div>

<div>
	<a class="center-block" [routerLink]="['Home']" class="btn btn-success">Click Aqui para voltar a loja</a>
</div>
